<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"   href="/style.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        body {
            background-color:rgba(163, 165, 42, 0.651);
        }

        #welcome{
            background-color: rgba(42, 44, 165, 0.575);
        }
       
    </style>
</head>
<body>
    <nav>
        <div class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">BANKING SYSTEM (THE SPARKS FOUNDATION PROJECT)</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                       
                        <li><a href="customers">TRANSFR MONEY</a></li>
                        <li><a href="customers">ALL CUSTOMERS</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container " id='welcome'>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                
                <center>
                    <p id="mainhead">WELCOME TO THE ABCD BANK</p>
                    <p class="subhead">WE WORK</p>
                    <p class="subhead">YOU ENJOY</p>
                </center>
                
            </div>
        </div>
    </div>
    <div class="container" id="about">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>ABOUT US</h1>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum laboriosam hic perferendis beatae corrupti explicabo, consequatur facere soluta laborum accusantium sequi fugiat molestiae porro perspiciatis optio illo repellendus quam incidunt!</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>OUR SERVICES</h1>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum laboriosam hic perferendis beatae corrupti explicabo, consequatur facere soluta laborum accusantium sequi fugiat molestiae porro perspiciatis optio illo repellendus quam incidunt!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="transferMethod">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>HOW TO TRANSFER MONEY</h1>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><p>Click on TRANSFER MONEY in the navigation bar.</p></li>
                            <li><p>Select the receiver from the list.</p></li>
                            <li><p>Click on transfer in the navigation bar.</p></li>
                            <li><p>Enter the details and click transfer button in the form.</p></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</body>
</html>